GEMINI_API_KEY=
PORT=3000
SMTP_APP_PASSWORD=
SMTP_EMAIL=
SMTP_FROM=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=